
.car-models-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .car-model {
    text-align: center;
    flex: 1 1 45%;
    max-width: 500px; 
  }
  
  .car-model img {
    width: 100%;
    height: auto;
  }
  
  .select-button {
    background-color: #5F79FE;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .select-button:hover {
    background-color: rgb(112, 199, 246);
  }