.config-bar {
    display: flex;
    justify-content: flex-end; /* Aligner les éléments à droite */
    align-items: center; /* Centrer verticalement */
    background-color: #5F79FE;
    color: white;
    padding: 35px;
    text-align: center;
  }
  
  .config-item {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .config-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }